<header id="header">

  <nav id="navbar" class="uk-navbar">
    <div class="uk-container container-fluid uk-container-center">

      <a class="uk-navbar-brand uk-hidden-small" href="/">Mr. Smith</a>

      <ul class="uk-navbar-nav uk-hidden-small">
        {% for page in site.pages %}
        {% if not page.pages %}
        <li {% if path == page.path %}class="uk-active"{% endif %}>
          <a href="{{ page.path }}">{{ page.name }}</a>
        </li>
        {% else %}
        <li {% if path == page.path %}class="uk-active"{% endif %} data-uk-dropdown>
          <a href="{{ page.path }}">
            {{ page.name }}
            <span class="uk-icon-caret-down"></span>
          </a>
          <div class="uk-dropdown ul-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              {% for page in page.pages %}
              <li {% if path == page.path %}class="uk-active"{% endif %}>
                <a href="{{ page.path }}">{{ page.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <ul class="uk-navbar-nav uk-navbar-flip uk-hidden-small">
        <li><a href=""><span class="uk-icon-search"></span> Search</a></li>
        <li {% if not prev %}class="disabled"{% endif %}><a href="{{ prev }}"><span class="uk-icon-arrow-left"></span> Prev</a></li>
        <li {% if not next %}class="disabled"{% endif %}><a href="{{ next }}">Next <span class="uk-icon-arrow-right"></span></a></li>
        <li><a href="//github.com/{{ site.github_id }}"><span class="uk-icon-github"></span> Github</a></li>
      </ul>

      <a href="#menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
      <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Mr. Smith</div>

    </div>
  </nav>

</header>
