<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }} - {{ site.title }}</title>

  <link rel="icon" href="images/favicon.png">

  <link rel="stylesheet" href="/styles/main.css">

</head>
<body data-scope="{{ scope }}">

  {% include 'header.html' %}

  {% block contents %}
  {{ contents }}
  {% endblock %}

  {% include 'footer.html' %}
  {% include 'menu.html' %}

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/uikit.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/sticky.min.js"></script>
  <script src="/scripts/main.js"></script>

</body>
</html>
